<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="{{site.url}}/about.html">About</a>
                    </li>
                    <li>
                        <a href="{{site.url}}/postDirectory.html">Blog Posts</a>
                    </li>
                    <li>
                        <a href="{{site.url}}/contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- <header class="intro-header" style="background-image: url('img/blue_squares.jpg')"> -->
    <header class="intro-header" style="background-image: url('{{site.url}}/img/blue_squares.jpg')">
                <div id="left-frame">
                     <!-- <img src="img/watercolour_waves_border_edit.jpg" width="25%"> -->
                     <img src="{{site.url}}/img/watercolour_waves_border_edit.jpg" width="25%">
                 </div>
                    <div class="post-heading">
                        <h1>Bernie's Blog</h1>
                    </div>
    </header>

    <!-- Post Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 col-lg-offset-1 ">
                    {{content}}
                </div>
                <div class="col-lg-2 col-md-2 pull-right">
                     <ul class="list-inline text-center">
                        <li>
                            <a href="https://www.linkedin.com/in/bernadette-dao-146a07107?trk=nav_responsive_tab_profile">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:berdao.09@gmail.com">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="glyphicon-envelope fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/bd05">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <h3 id="hi-there">Hi There</h3>
                    <p>I hope your browser supports Google fonts, so the headings aren't appearing as comic sans.</p>
                    <p>My GitHub contains some of the code I talk about here if you want to have a look.</p>
                </div>
            </div>
        </div>

    <!-- Footer -->
    {% include footer.html %}

</body>

</html>
